.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  border-bottom: 1px solid #f6f6f6;
  padding: 0 55px;
  &__logo {
    display: flex;
    align-items: center;
    div {
      margin-left: 15px;
    }
    h1 {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: black;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #7b7b7b;
    }
  }

  &__cart {
    background-color: #fe5f1e;
    padding: 15px 29px;
    border-radius: 30px;
    margin: 0 20px;
    @media (max-width: 956px) {
      padding: 10px 23px;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;

      color: #ffffff;
      display: flex;
      align-items: center;

      @media (max-width: 956px) {
        font-size: 14px;
        line-height: 10px;
      }

      span {
        margin-left: 5px;
      }

      div {
        width: 1px;
        height: 25px;
        background-color: #ffffff;
        margin: 0 13px;
      }
    }
  }
}
